extends ../layout

block content
  div.sidebar
    div.authors-div
      p Authors
        p Book
    div.books-div
      p Books
        p Person

  div.displayBook
    if genre
      each book in booksByGenre
        h1 title: #{ book[0].title }
        h1 genre: #{ book[0].genre }
        h1 authors: #{ book[1] }
        p description: #{ book[0].description }

    else
      h1 title: #{thisBook[0].title}
      h1 genre: #{thisBook[0].genre}
      h1 authors:
        for author in thisBook[1]
          p(class=byliner) #{author}
      p description: #{thisBook[0].description}

      form(action="/edit", method="post")
        div
          a(href="/books/" + thisBook[0].bookid + "/edit") Edit

      form(action="/delete", method="post")
        div
          a(href="/books/" + thisBook[0].bookid + "/delete") Delete

      form(action="/", method="get")
        div
          a(href="/books/") Back
