doctype html

html

  head
    title= title
    link(rel='stylesheet', href='/stylesheets/books-style.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=EB+Garamond|Playfair+Display:400,900')

  body
    div.title-bar
      img(src= '/assets/book-icon2.png' height='50' width='50' class='t-bar' id='logo')
      h2(class='t-bar' id='header-text') Galvanize Reads

    div.container
      div.sidebar
        div.authors-div
          a(href='/authors') Authors
            p Book
        div.books-div
          a(href='/books') Books
            p Person

      div.button-box
        a(href='/books/new') new

      div.booklist
        for author in allAuthors
          div(class='author')
            div.authorlist-content(id='picture')
              img(src=author.portraiturl img='100' height='150' class='authors-pic')
            div.authorlist-content(id='content')
              a(href='/authors/#{author.id}' class='authors-name') #{author.firstname} #{author.lastname}
              p(class='authors-bio') #{author.bio}

    div.footer
      form(action="/books", method="GET")
        input(type='text' name='search' class='search')
        input(type='submit' value='search' class='searchBtn')
