doctype html

html

  head
    title= title
    link(rel='stylesheet', href='/stylesheets/books-style.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=EB+Garamond|Playfair+Display:400,900')

  body
    div.title-bar
      img(src= '/assets/book-icon2.png' height='50' width='50' class='t-bar' id='logo')
      h2(class='t-bar' id='header-text') Galvanize Reads

    div.container
      div.sidebar
        div.authors-div
          p Authors
            p Book
        div.books-div
          p Books
            p Person

      div.booklist
        for book in allBooks
          div(class='book')
            div.booklist-content(id='picture')
              img(src=book.coverurl img='100' height='150' class='books-cover')
            div.booklist-content(id='content')
              h2(class='books-title') #{book.title}
              p(class='books-byline') Authors
              p(class='books-genre') #{book.genre}
              p(class='books-description') #{book.description}

  div.footer
    p(id='footer-text') footer goes here
