doctype html

html

  head
    title= title
    link(rel='stylesheet', href='/stylesheets/books-style.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=EB+Garamond|Playfair+Display:400,900')

  body
    div.title-bar
      img(src= '/assets/book-icon2.png' height='50' width='50' class='t-bar' id='logo')
      h2(class='t-bar' id='header-text') Galvanize Reads

    div.container
      div.sidebar
        div.authors-div
          a(href='/authors') Authors
            p Book
        div.books-div
          a(href='/books') Books
            p Person

      div.button-box
        a(href='/books/new') new

      div.booklist
        for book in index
          div(class='book')
            div.booklist-content(id='picture')
              img(src=book[0].coverurl img='100' height='150' class='books-cover')
            div.booklist-content(id='content')
              a(href='/books/#{book[0].bookid}' class='books-title') #{book[0].title}
              div.books-byline
                for author in book[1]
                  p(class=byliner) #{author}
              p(class='books-genre') #{book[0].genre}
              p(class='books-description') #{book[0].description}

  div.footer
    form(action="/books", method="GET")
      input(type='text' name='search' class='search')
      input(type='submit' value='search')
